@typeparam TItem

<div class="b-checkboxes" @attributes="AdditionalAttributes">

    @foreach (var item in Items)
    {
        var id = Guid.NewGuid();
        <div class="b-checkbox-item">
            <input id="@id" type="checkbox" class="b-checkbox-item__input @InputCss" @onchange="_ => HandleChange(item)" />
            <label for="@id" class="b-checkbox-item__label @LabelCss">
                @if (ItemTemplate is null)
                {
                    GetValue(item);
                }
                else
                {
                    @ItemTemplate(item)
                }
            </label>
        </div>
    }
</div>

@code {

    [Parameter(CaptureUnmatchedValues = true)]
    public IReadOnlyDictionary<string, object> AdditionalAttributes { get; set; } = new Dictionary<string, Object>();

    [Parameter]
    public string TextField { get; set; }

    [Parameter]
    public string LabelCss { get; set; }

    [Parameter]
    public string InputCss { get; set; }


    private object GetValue(TItem item)
    {
        return item.GetType().GetProperty(TextField).GetValue(item, null);
    }

    [Parameter]
    public IEnumerable<TItem> Items { get; set; }

    [Parameter]
    public RenderFragment<TItem> ItemTemplate { get; set; }

    [Parameter]
    public List<TItem> SelectedItems { get; set; }

    [Parameter]
    public EventCallback<List<TItem>> SelectedItemsChanged { get; set; }

    void HandleChange(TItem item)
    {
        if (SelectedItems.Contains(item))
        {
            SelectedItems.Remove(item);
        }
        else
        {
            SelectedItems.Add(item);
        }
        SelectedItemsChanged.InvokeAsync(SelectedItems);
    }

}
