@using CheckboxList.Component

<Checkboxes Items="Data" Context="foo" TextField="@nameof(Foo.Name)" @bind-SelectedItems="SelectedItems"
style="@($"--item-color: {Color}")">
    <ItemTemplate>
        <div class="checkbox-list-item">
            <div class="checkbox-list-item__tickmark"></div>
            <div class="checkbox-list-item__name">
                @foo.Name
            </div>
        </div>
    </ItemTemplate>
</Checkboxes>

<hr />

<h3>Selected Items:</h3>
<ul>
    @foreach (Foo selected in SelectedItems)
    {
        <li>@selected.Id, @selected.Name @selected.Value</li>
    }
</ul>

<input type="color" @bind-value="@Color" @bind-value:event="oninput" />

@code {
    string Color { get; set; } = "#fff";

    public record Foo(string Name, string Value, int Id);

    List<Foo> Data = new()
    {
        new("alpha", "red", 0),
        new("beta", "green", 1),
        new("gamma", "blue", 2),
        new("delta", "yello", 3),
        new("aa", "red", 4),
        new("bb", "green", 5),
        new("cc", "blue", 6),
        new("ddd", "yello", 7),
        new("ee", "red", 8),
        new("ff", "green", 9),
        new("gg", "blue", 10),
        new("hhh", "yello", 11),
    };

    List<Foo> SelectedItems = new();
}